
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
#main {
width:960px;
margin:10px 10px 10px 10px;
font-family:raleway
}
.error {
color:red;
font-family:raleway;
text-align:center;
}
h2 {
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0;
margin:-10px -40px;
padding:15px
}
#banner {
max-width: 98%;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 100px
}
#login {
width:300px;
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:25px 25px 25px;
margin: 0 auto
}
input[type=text],input[type=password],input[type=file] {
width:95%;
padding:10px;
margin-top:8px;
border:1px solid #ccc;
padding-left:5px;
font-size:16px;
font-family:raleway
}
input[type=submit] {
width:100%;
background-color:#2887C6;
color:#fff;
border:2px solid #2887C6;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-bottom:15px
}
#profile {
padding:10px;
font-size:15px;
font-family:raleway;
background-color:#2887C6;
color:#FFFFFF
}
#logout {
float:right;
}
#logoutLink {
text-decoration:underline;
color:#FFFFFF;
}

/********* For tab panel and buttons **********/
.tab-controller-wrap{
  margin-top: 30px;
  /*border:1px solid;*/
  text-align:center;
}
.tab-control, .search-result-cell-button , .modal-dialog-button, .tab-control:hover, .tab-control.active, .search-result-cell-button:hover, .search-result-cell-button.active, .modal-dialog-button:hover, .modal-dialog-button.active{
  color: #fff;
  text-decoration: none;
}
.tab-control, .search-result-cell-button, .modal-dialog-button {
  padding: 10px 20px;
  font-family:raleway;
  background-color:#0a6392;
  color:#fff;
  border:0px solid #0a6392;
  font-size:20px;
  cursor:pointer;
  border-radius:5px;
}

.tab-control:hover, .search-result-cell-button:hover, .modal-dialog-button:hover{
  background-color: #70c9f8;
  border:0px solid #70c9f8;
}
.tab-control.active, .search-result-cell-button.active, .modal-dialog-button.active{
  background-color: #2887C6;
  border:2px solid #2887C6;
}

.modal-dialog-button.disabled{
  background-color: #a6a6a6;
  cursor: default;
}

.content-wrapper > div{
  background-color: #fff;
  padding: 20px;
  line-height: 200%;
  font-family:raleway;
}

/********* For item list + search input **********/
.tab-content{
padding:40px 40px 10px 40px;
}

.search-bar{
padding-bottom:0px;
}

.search-bar > table{
border:1px solid #ccc;
border-radius:10px;
border-spacing:0px;
}

.search-bar > tr{
vertical-align:middle;
}

.search-icon-cell{
padding-top:10px;
width:30px;
border-right-style:solid;
border-width:2px;
border-color:#ccc;
}

.search-input-cell{
text-align:left;
padding:0px 10px 0px 10px;
width:100%;
}

input.search-input{
border:0px;
margin:0px;
padding:0px;
}

.search-result{
overflow:auto;
}

.search-result > table{
width:100%;
border-spacing:0px 10px;
}

.search-result-cell{
padding:0px;
}

.search-result-cell-content{
border-radius:10px;
font-family:raleway;
border:2px solid #ccc;
padding:10px 10px 10px 10px;
width: 100%;
height:100px;
font-size:20px;
}

.search-result-icon-cell{
width:100px;
text-align:left;
vertical-align:top;
}

.search-result-icon-cell > div{
width:100px;
height:100px;
overflow:hidden;
}

.search-result-description-cell{
text-align:left;
padding-left: 10px;
padding-right: 10px;
line-height:100%;
}

.search-result-content {
font-family:raleway;
font-size:20px;
white-space:pre;
margin:10px 0px 0px 0px;
}
.search-result-sub-content {
font-family:raleway;
font-size:16px;
white-space:pre;
margin:10px 0px 10px 0px;
}

.search-result-list{
padding-left:14px;
margin:10px 0px 10px 0px;
}

.search-result-description-cell > a{
font-size:12px;
padding:5px 10px;
}

.search-result-price-cell{
text-align:left;
width:240px;
}

.search-result-info-cell{
width:240px;
text-align:left;
vertical-align:top;
}

.search-result-info-icon-cell{
vertical-align:top;
text-align:center;
}

.search-result-info-value-cell{
vertical-align:top;
padding-left:6px;
}

/**** modal dialogs ****/
.modal-open{
overflow:hidden;
}

.modal{
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
z-index:1040;
display:none;
overflow:auto;
overflow-y:hidden
}

.modal.fade .modal-dialog{
-webkit-transform:translate(0,-25%);
-ms-transform:translate(0,-25%);
transform:translate(0,-25%);
-webkit-transition:-webkit-transform .3s ease-out;
-moz-transition:-moz-transform .3s ease-out;
-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;
}

.modal.in .modal-dialog{
-webkit-transform:translate(0,0);
-ms-transform:translate(0,0);
transform:translate(0,0);
}

.modal-dialog{
position:relative;
z-index:1050;
width:auto;
margin:10px;
}

.modal-content{
position:relative;
background-color:#fff;
border:1px solid #999;
border:1px solid rgba(0,0,0,0.2);
border-radius:6px;outline:0;
-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
box-shadow:0 3px 9px rgba(0,0,0,0.5);
background-clip:padding-box;
}

.modal-backdrop{
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
z-index:1030;
background-color:#000;
}

.modal-backdrop.fade{
opacity:0;
filter:alpha(opacity=0);
}

.modal-backdrop.in{
opacity:.5;
filter:alpha(opacity=50);
}

.modal-header{min-height:16.428571429px;
padding:15px;
border-bottom:1px solid #e5e5e5;
}

.modal-header .close{
margin-top:-2px;
}

.modal-title{
margin:0;
line-height:1.428571429;
}

.modal-body{
position:relative;
padding:20px;
}

.modal-footer{
padding:19px 20px 20px;
margin-top:0px;
text-align:right;
border-top:1px solid #e5e5e5;
}

.modal-footer:before,.modal-footer:after{
display:table;
content:" ";
}

.modal-footer:after{
clear:both;
}

.modal-footer:before,.modal-footer:after{
display:table;
content:" ";
}

.modal-footer:after{
clear:both;
}

.modal-footer .btn+.btn{
margin-bottom:0;
margin-left:5px;
}

.modal-footer .btn-group .btn+.btn{
margin-left:-1px;
}

.modal-footer .btn-block+.btn-block{
margin-left:0;
}@media screen and (min-width:768px){
.modal-dialog{
width:600px;
margin:30px auto;
}

.modal-content{
-webkit-box-shadow:0 5px 15px rgba(0,0,0,0.5);
box-shadow:0 5px 15px rgba(0,0,0,0.5)
}
}

/*** For formulars****/

.formular-main-layout{
font-family:raleway;
border:0px;
padding:0px 0px 0px 0px;
width: 100%;
height:100%;
font-size:16px;
}

.formular-icon-cell{
width:100px;
text-align:left;
vertical-align:top;
}

.formular-icon-cell > div{
width:100px;
height:100px;
overflow:hidden;
}

.formular-label-cell{
text-align:left;
padding-left: 20px;
padding-right: 0px;
line-height:100%;
vertical-align:middle;
}

.formular-label-content {
font-family:raleway;
font-size:16px;
margin:0px 0px 0px 0px;
}

.formular-input-cell{
text-align:left;
padding-left: 0px;
padding-right: 0px;
line-height:100%;
vertical-align:middle;
}

.formular-input-content {
font-family:raleway;
font-size:16px;
margin:0px 0px 8px 0px;
width:94%;
}
